body,
html {
    height: 100%;
    line-height: 1.8;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.w3-bar .w3-button {
    padding: 16px;
}

.font-yellow {
    color: rgba(242, 197, 76, 1);
}

.didot {
    font-family: "Didot", serif;
}

.didot-bold {
    font-family: "Didot", serif;
    font-weight: bold;
}

.helvetica {
    font-family: 'Helvetica Neue', sans-serif;
}

.bold {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.lsvnt-header-item {
    margin-top: 5px;
}

.lsvnt-header-item:hover {
    color: rgba(242, 197, 76, 1);
}



@media screen and (max-width:400px) {
    .header {
        padding-top: 150px;
    }

    .lsvnt-padding-left {
        padding-left: 0px;
    }

    .lsvnt-padding-right {
        padding-right: 0px;
    }

    .identity-title {
        font-size: 50px;
        font-style: normal;
    }

    .designer-title {
        font-size: 60px;
    }

    .font-about {
        font-size: 20px;
    }

    .img-size {
        padding-top: 50px;
        width: 100%;
    }

    .skills-padding {
        padding-top: 50px;
    }

    .lsvnt-about-nine {
        font-size: 20px;
    }

    #project-desc {
        padding-top: 100px;
    }

    #soup-box-intro {
        text-align: center;
    }

    #soup-image {
        width: 250px;
    }

    #soup-box-icon {
        text-align: center;
        width: 100%;
    }

    #soup-box-font {
        text-align: center;
        width: 100%;
    }

    .soup-font-01 {
        width: 80%;
        padding-top: 25px;
    }

    .soup-font-02 {
        width: 80%;
        padding-top: 25px;
    }

    #soup-box-book-01 {
        width: 100%;
        padding-top: 25px;
    }

    #soup-box-book-02 {
        width: 100%;
        padding-top: 25px;
    }

    #soup-box-book-03 {
        width: 100%;
        margin-top: -20px;
    }

    #soup-box-book-04 {
        width: 100%;
        padding-top: 25px;
    }

    #soup-box-3-1 {
        width: 100%;
    }

    #soup-box-3-img1 {
        width: 80%;
    }

    #soup-box-text {
        padding-right: 40px;
    }

    #soup-box-3-img2 {
        width: 80%;

        padding-top: 25px;
    }

    #soup-box-3-img3 {
        width: 80%;
        padding-top: 25px;
    }

    #soup-box-3 {
        text-align: center;
        width: 100%;
    }

    #soup-box-intro-text {
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
    }
}

@media screen and (max-width:1000px) and (min-width: 400px) {
    .header {
        padding-top: 150px;
    }

    .lsvnt-padding-left {
        padding-left: 0px;
    }

    .lsvnt-padding-right {
        padding-right: 0px;
    }

    .identity-title {
        font-size: 70px;
        font-style: normal;
    }

    .designer-title {
        font-size: 90px;
    }

    .font-about {
        font-size: 25px;
    }

    .img-size {
        padding-top: 50px;
        width: 100%;
    }

    .project-left {
        float: center;
    }

    .skills-padding {
        padding-top: 50px;
    }

    .lsvnt-about-nine {
        font-size: 20px;
    }

    #project-desc {
        padding-top: 100px;
    }

    .footer {
        padding-top: 100px;
    }

    #soup-box-intro {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #soup-image {
        width: 250px;
    }

    #soup-box-icon {
        text-align: center;
        width: 100%;
    }

    #soup-box-font {
        text-align: center;
        width: 100%;
    }

    .soup-font-01 {
        width: 50%;
        padding-top: 25px;
    }

    .soup-font-02 {
        width: 50%;
        padding-top: 25px;
    }

    #soup-box-font-text {
        float: center;
    }

    #soup-box-book-01 {
        width: 100%;
        padding-top: 25px;
    }

    #soup-box-book-02 {
        width: 100%;
        padding-top: 25px;
    }

    #soup-box-book-03 {
        width: 100%;
        margin-top: -20px;
    }

    #soup-box-book-04 {
        width: 100%;
        padding-top: 25px;
    }

    #soup-box-3-1 {
        width: 100%;
    }

    #soup-box-3-img1 {
        width: 80%;
    }

    #soup-box-text {
        padding-right: 40px;
    }

    #soup-box-3-img2 {
        width: 80%;

        padding-top: 25px;
    }

    #soup-box-3-img3 {
        width: 80%;
        padding-top: 25px;
    }

    #soup-box-3 {
        text-align: center;
        width: 100%;
    }

    #soup-box-intro-text {
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
    }

}

@media screen and (max-width:1700px) and (min-width: 1000px) {
    #soup-box-font-text {
        float: left;
        padding-left: 150px;
    }

    .header {
        padding-top: 150px;
    }

    .lsvnt-padding-left {
        padding-left: 50px;
    }

    .lsvnt-padding-right {
        padding-right: 50px;
    }

    .identity-title {
        font-size: 80px;
        font-style: normal;
    }

    .designer-title {
        font-size: 150px;
    }

    .font-about {
        font-size: 25px;
    }

    .img-size {
        padding-top: 0px;
        width: 100%;
    }

    .lsvnt-about-nine {
        font-size: 20px;
    }

    #project-desc {
        padding-top: 100px;
    }


    .footer {
        padding-top: 100px;
    }

    #soup-box-intro {
        width: 100%;
    }

    #soup-image {
        width: 350px;
    }

    #soup-box-icon {
        text-align: center;
        width: 400px;
        padding-top: 50px;
        float: left;
    }

    #soup-box-font {
        text-align: center;
        width: 100%;
    }

    .soup-font-01 {
        width: 50%;
        padding-top: 25px;
        float: left;
    }

    .soup-font-02 {
        width: 50%;
        padding-top: 25px;
        float: left;
    }

    #soup-box-book-01 {
        width: 100%;
        padding-top: 25px;
    }

    #soup-box-book-02 {
        width: 100%;
        padding-top: 25px;
    }

    #soup-box-book-03 {
        width: 100%;
        margin-top: -20px;
    }

    #soup-box-book-04 {
        width: 100%;
        padding-top: 25px;
    }

    #soup-box-3-1 {
        width: 100%;
        text-align: center;
    }

    #soup-box-3-img1 {
        width: 700px;
        position: absolute;
        padding-top: 100px;
    }

    #soup-box-text {
        padding-right: 70px;
    }

    #soup-box-3-img2 {
        width: 800px;
        position: absolute;
        margin-top: 800px;
        margin-left: 500px;
    }

    #soup-box-3-img3 {
        width: 550px;
        margin-top: 1300px;
        position: absolute;
        margin-left: 0px;
    }

    #soup-box-3 {
        width: 100%;
        margin-bottom: 1500px;
    }

    #soup-box-intro-text {
        text-align: left;
        padding-top: 300px;
    }
}


@media screen and (min-width:1700px) {
    .header {
        padding-top: 150px;
    }

    .lsvnt-padding-left {
        padding-left: 150px;
    }

    .lsvnt-padding-right {
        padding-right: 150px;
    }

    .identity-title {
        font-size: 95px;
        font-style: normal;
        font-variant: normal;
    }

    .designer-title {
        font-size: 175px;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
    }

    .font-about {
        font-size: 25px;
    }

    .img-size {
        padding-top: 0px;
        width: 900px;
    }

    .image-box {
        max-width: 900px;
    }

    .lsvnt-container {
        align-items: center;
        max-width: 1700px;
        margin: 0 auto;
    }

    .lsvnt-about-nine {
        font-size: 20px;
    }

    #project-desc {
        padding-top: 350px;
    }

    .footer {
        padding-top: 100px;
    }

    #soup-box-intro {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #soup-image {
        width: 500px;
    }

    #soup-box-icon {
        width: 500px;
    }

    #soup-box-font {
        text-align: center;
        width: 100%;
    }

    .soup-font-01 {
        width: 400px;
        padding-top: 25px;
    }

    .soup-font-02 {
        width: 400px;
        padding-top: 25px;
    }

    #soup-box-book-01 {
        width: 550px;
        padding-top: 25px;
        float: left;
    }

    #soup-box-book-02 {
        width: 550px;
        padding-top: 25px;

        margin-left: 100px;
        float: left;
    }

    #soup-box-book-03 {
        width: 550px;
        margin-top: 100px;
        margin-left: 100px;
        float: left;
    }

    #soup-box-book-04 {
        width: 550px;
        padding-top: 100px;
        margin-left: 200px;
        float: left;
    }

    #soup-box-3-1 {
        width: 700px;
    }

    #soup-box-3-img1 {
        width: 700px;
        position: absolute;
        padding-top: 100px;
    }

    #soup-box-text {
        padding-right: 40px;
    }

    #soup-box-3-img2 {
        width: 800px;
        position: absolute;
        margin-top: 800px;
        margin-left: 560px;
    }

    #soup-box-3-img3 {
        width: 650px;
        margin-top: 1300px;
        position: absolute;
        margin-left: 0px;
    }

    #soup-box-3 {
        width: 100%;
        margin-bottom: 1650px;
    }

    #soup-box-intro-text {
        text-align: left;
        padding-top: 50px;
    }

    #soup-box-font-text {
        float: left;
        padding-left: 50px;
    }
}